@model Assignment2.Web.Models.StudentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.PhotoUrl)" width="80" alt="Photo of @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fees)
        </dd>
        <dd>
            <table class="table border-bottom">
                <thead>
                    <tr>
                        <th>
                            Course
                        </th>
                        <th>
                            Assignments
                        </th>
                        <th>
                            Marks
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.StudentAssignmentsPerCourse)
                    {
                        if (item.Value.Count() == 0)
                        {
                            <tr>
                                <td class="border-right">
                                    @item.Key.Title
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < item.Value.Count(); i++)
                            {
                                <tr>
                                    @if (i == 0)
                                    {
                                        <td rowspan="@item.Value.Count" class="border-right">
                                            @item.Key.Title
                                        </td>
                                    }
                                    <td>
                                        @item.Value[i].Assignment.Title
                                    </td>
                                    <td>
                                        <ul>
                                            <li>
                                                Oral mark : @item.Value[i].OralMark
                                            </li>
                                            <li>
                                                Writing mark : @item.Value[i].WritingMark
                                            </li>
                                            <li>
                                                Total mark : @item.Value[i].TotalMark
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditStudent", new { id = Model.StudentId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "AllStudents", null, new { @class = "btn btn-info" })
</p>
