@model Assignment2.Entities.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.PhotoUrl)" width="80" alt="Photo of @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        @*<dt>
            Fees
        </dt>

        <dd>
            @{
                int? totalFees = 0;

                foreach (var item in Model.StudentCourses)
                {
                    totalFees += item.TuitionFees;
                }
            }

            @totalFees
        </dd>*@
        <dd>
            <table class="table">
                @foreach (var item in Model.StudentCourses)
                {
                    <tr>
                        <th>
                            Course
                        </th>
                        <th>
                            Assignments
                        </th>
                        <th>
                            Marks
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @item.Course.Title
                        </td>
                        <td>
                            <ol>
                                @foreach (var sa in Model.StudentAssignments)
                                {
                                    <li>
                                        @sa.Assignment.Title
                                    </li>
                                }
                            </ol>
                        </td>
                        <td>
                            <ul>
                                @foreach (var sa in Model.StudentAssignments)
                                {
                                    <li>
                                        Oral mark : @sa.OralMark
                                    </li>
                                    <li>
                                        Whriting mark : @sa.WhritingMark
                                    </li>
                                    <li>
                                        Total mark : @sa.TotalMark
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </table>

            @*@foreach (var item in Model.StudentCourses)
                {
                    <ol>
                        <li>
                            @item.Course.Title
                            <ul style="list-style-type: none">
                                <li>
                                    Assignments
                                    <ul>
                                        @foreach (var sa in Model.StudentAssignments)
                                        {
                                            <li>
                                                @sa.Assignment.Title
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ol>
                }*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditStudent", new { id = Model.StudentId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "AllStudents", null, new { @class = "btn btn-info" })
</p>
