@model Assignment2.Web.Models.StudentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.PhotoUrl)" width="80" alt="Photo of @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fees)
        </dd>
        <dd>
            <table class="table">
               <thead>
                   <tr>
                       <th>
                           Courses
                       </th>
                       <th>
                           Assignments
                       </th>
                       <th>
                           Marks
                       </th>
                   </tr>
               </thead>
                <tbody>
                    @foreach (var item in Model.AssignmentsPerCourse)
                    {
                    <tr>
                        <td>
                            @item.Key.Title
                        </td>
                        <td>
                            <ul>
                                @foreach (var assignment in item.Value)
                                {
                                    <li>
                                        @assignment.Title
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>

                        </td>
                    </tr>
                    }
                    
                </tbody>
            </table>

            @*@foreach (var item in Model.StudentCourses)
            {
                <ol>
                    <li>
                        @item.Course.Title
                        <ul style="list-style-type: none">
                            <li>
                                Assignments
                                <ul>
                                    @foreach (var sa in Model.StudentAssignments)
                                    {
                                        <li>
                                            @sa.Assignment.Title
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ol>
            }*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditStudent", new { id = Model.StudentId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "AllStudents", null, new { @class = "btn btn-info" })
</p>
