@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/MyCss/HomeIndex.css" rel="stylesheet" />

<div>
    <center>
        <img src="~/Content/School_Images/1(2).jpg" title="Wellcome to Highgate private school" style="width:100%; max-height:250px" />
        <h1>
            Welcome to Highgate Private School
        </h1>
        <p>
            In the How-to-Guides below you can learn more about each section.
        </p>
    </center>
</div>

<div class="row text-center">
    <div class="col-md-4">
        @Html.ActionLink("Learn more about courses", "AboutCourses", null, new { @class = "LearnMore btn btn-outline-info" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Learn more about students", "AboutStudents", null, new { @class = "LearnMore btn btn-outline-info" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Learn more about trainers", "AboutTrainers", null, new { @class = "LearnMore btn btn-outline-info" })
    </div>
</div>
<br />
<div class="row text-center">
    <div class="col-md-4">
        @Html.ActionLink("Learn more about assignments", "AboutAssignments", null, new { @class = "LearnMore btn btn-outline-info" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Learn more about relations", "AboutRelations", null, new { @class = "LearnMore btn btn-outline-info" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Learn more about statistics", "AboutStatistics", null, new { @class = "LearnMore btn btn-outline-info" })
    </div>
</div>