@model Assignment2.Web.Models.AssignmentViewModel

@{
    ViewBag.Title = "Create Assignment";
}
<h2>Assignment</h2>


@using (Html.BeginForm("CreateAssignment", "Assignment", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Insert new assignment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Courses, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CourseId, Model.Courses, "--Select--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.CourseId != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Students, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.StudentsId, Model.Students, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StudentsId, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @Html.TextBox("FinalSubmit", true , new { type = "hidden", @class = "form-control" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AllAssignments", null, new { @class = "btn btn-info" })
</div>

<script>
    (function () {
        document.getElementById("CourseId").addEventListener("change", change);
        document.getElementById("FinalSubmit").value = true;
    })();

    function change() {
        document.getElementById("FinalSubmit").value = false;
        document.getElementById("form").submit();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
