@model IEnumerable<Assignment2.Entities.Course>

@{
    ViewBag.Title = "All Courses";
}

<h2>All Courses</h2>

<div class="d-inline-block mb-1 w-100">
    @using (Html.BeginForm())
    {
        <div class="float-left d-inline">
            @Html.ActionLink("Insert new course", "CreateCourse", null, new { @class = "btn btn-primary" })
        </div>
        <div class="float-right d-inline">
            @Html.Label("search", "Find by title or by type :", null)
            @Html.TextBox("search", null, new { @class = "searchBar", @placeholder = "Search..." })<input type="submit" value="Search" class="btn-search" />
        </div>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Course title", "AllCourses", new { sort = ViewBag.CourseTitle })
        </th>
        <th>
            @Html.ActionLink("Stream", "AllCourses", new { sort = ViewBag.Stream })
        </th>
        <th>
            @Html.ActionLink("Type", "AllCourses", new { sort = ViewBag.Type })
        </th>
        <th>
            @Html.ActionLink("Start date", "AllCourses", new { sort = ViewBag.StartDate })
        </th>
        <th>
            @Html.ActionLink("End date", "AllCourses", new { sort = ViewBag.EndDate })
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stream)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <div class="text-right">
                    @Html.ActionLink("Edit", "EditCourse", new { id = item.CourseId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Details", "DetailsCourse", new { id = item.CourseId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "DeleteCourse", new { id = item.CourseId }, new { @class = "btn btn-danger" })
                </div>
            </td>
        </tr>
    }

</table>
