@model Assignment2.Entities.Course

@{
    ViewBag.Title = "Details Course";
}

<h2>Course details</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.Title)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stream)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stream)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate) <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            Assignments
        </dt>

        <dd>
            <ol>
                @foreach (var assignmet in Model.Assignments)
                {
                    <li>@Html.DisplayFor(x => assignmet.Title)</li>
                }
            </ol>
        </dd>

        <dt>
            Number of trainers
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerCourses.Count)
        </dd>

        <dt>
            Number of students
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentCourses.Count)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCourse", new { id = Model.CourseId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "AllCourses", null, new { @class = "btn btn-info" })
</p>
