@model  PagedList.IPagedList<IEnumerable<Assignment2.Entities.StudentCourse>>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "AllStudentCourses2";
}

<h2>All students per course</h2>

@using (Html.BeginForm("AllStudentCourses", "StudentPerCourse", FormMethod.Get, new { id = "form" }))
{
    <div class="d-inline-block mb-1 w-100">
        <div class="float-right d-inline">
            @Html.Label("search", "Find by title, first name or last name :", null)
            @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "searchBar", @placeholder = "Search..." })<input type="submit" value="Search" class="btn-search" />
        </div>
    </div>

    string currentSort = ViewBag.CurrentSort;
    @Html.TextBox("sort", currentSort, new { type = "hidden", @class = "form-control" })

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Course title", "AllStudentCourses", new { sort = ViewBag.CourseTitle, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
            </th>
            <th>
                Students
            </th>
        </tr>
        @foreach (var studentCourse in Model)
        {
            foreach (var course in studentCourse.GroupBy(x => x.Course))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => course.Key.Title)
                    </td>
                    <td>
                        <ol>
                            @foreach (var studentCourseOfCourse in course)
                            {
                                <li>
                                    <img src="@studentCourseOfCourse.Student.PhotoUrl" width="20" height="20" alt="Alternate Text" />
                                    @studentCourseOfCourse.Student.FirstName @studentCourseOfCourse.Student.LastName
                                </li>
                            }
                        </ol>
                    </td>
                </tr>
            }
        }
    </table>

    <div class="float-left">
        @{ string cps = Convert.ToString(ViewBag.CurrentPageSize); }
        Items per page: @Html.DropDownList("pageSize", cps)
        @Html.PagedListPager(Model, page => Url.Action("AllStudentCourses", new { page, sort = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize }))

        @{string currentfilter = ViewBag.CurrentFilter;}
        @Html.TextBox("currentFilter", currentfilter, new { type = "hidden", @class = "form-control" })
    </div>
}

<script src="~/Content/MyJs/GeneralJs.js"></script>