@model  IEnumerable<Assignment2.Entities.StudentCourse>

@{
    ViewBag.Title = "AllStudentCourses2";
}

<h2>All students per course</h2>

<div class="d-inline-block mb-1 w-100">
    @using (Html.BeginForm())
    {       
        <div class="float-right d-inline">
            @Html.Label("search", "Find by title or by student :", null)
            @Html.TextBox("search", null, new { @class = "searchBar", @placeholder = "Search..." })<input type="submit" value="Search" class="btn-search" />
        </div>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Course title", "AllStudentCourses", new {  sort = ViewBag.CourseTitle })
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model.GroupBy(x => x.Course))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Title)
            </td>
            <td>
                <ol>
                    @foreach (var studentCourse in item)
                    {
                        <li>@studentCourse.Student.FirstName @studentCourse.Student.LastName</li>
                    }
                </ol>
            </td>
        </tr>
    }

</table>
