@model IEnumerable<Assignment2.Entities.TrainerCourse>

@{
    ViewBag.Title = "AllTrainersCourses";
}

<h2>All trainers per course</h2>

<div class="d-inline-block mb-1 w-100">
    @using (Html.BeginForm())
    {
        <div class="float-right d-inline">
            @Html.Label("search", "Find by title, first name or last name :", null)
            @Html.TextBox("search", null, new { @class = "searchBar", @placeholder = "Search..." })<input type="submit" value="Search" class="btn-search" />
        </div>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Course title", "AllTrainerCourse", new { sort = ViewBag.CourseTitle})
        </th>
        <th>
            Trainers
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GroupBy(x => x.Course))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Title)
            </td>
            <td>
                <ol>
                    @foreach (var trainerCourse in item)
                    {
                        <li>@trainerCourse.Trainer.FirstName @trainerCourse.Trainer.LastName</li>
                    }
                </ol>
            </td>
        </tr>
    }

</table>
