@model PagedList.IPagedList<IEnumerable<Assignment2.Entities.Course>>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/MyCss/DetailLinks.css" rel="stylesheet" />

@{
    ViewBag.Title = "AllStudentsPerCoursePerAssignment";
}

<h2>Students per course per assignment</h2>

@using (Html.BeginForm("AllStudentsPerCoursePerAssignment", "StudentsPerCoursePerAssignment", FormMethod.Get, new { id = "form" }))
{
    <div class="d-inline-block mb-1 w-100">
        <div class="float-right d-inline">
            @Html.Label("search", "Find by course title :", null)
            @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "searchBar", @placeholder = "Search..." })<input type="submit" value="Search" class="btn-search" />
        </div>
    </div>

    string currentSort = ViewBag.CurrentSort;
    @Html.TextBox("sort", currentSort, new { type = "hidden", @class = "form-control" })

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Course title", "AllStudentsPerCoursePerAssignment", new { sort = ViewBag.CourseTitle, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
            </th>
            <th></th>
        </tr>
        @foreach (var group in Model)
        {
            foreach (var course in group)
            {
                <tr>
                    <td>
                        <b>Title</b>
                        <br />
                        @Html.ActionLink(course.Title, "DetailsCourse", "Course", new { id = course.CourseId }, new { @class = "myLinks" })
                    </td>
                    <td>
                        @foreach (var assignment in course.Assignments)
                        {
                            <b> Assignment title</b>
                            <ul>
                                <li>
                                    @Html.ActionLink(assignment.Title, "DetailsAssignment", "Assignment", new { id = assignment.AssignmentId }, new { @class = "myLinks" })
                                </li>
                            </ul>
                            <b>Students</b>
                            <ol>
                                @foreach (var studentCourse in course.StudentCourses)
                                {
                                    <li>
                                        <img src="@studentCourse.Student.PhotoUrl" width="20" height="20" alt="Alternate Text" />
                                        @Html.ActionLink(studentCourse.Student.FirstName + " " + studentCourse.Student.LastName, "DetailsStudent", "Student", new { id = studentCourse.Student.StudentId }, new { @class = "myLinks" })
                                    </li>
                                }
                            </ol>
                            <br />
                        }
                    </td>
                </tr>
            }
        }
    </table>

    <div class="float-left">
        @{ string cps = Convert.ToString(ViewBag.CurrentPageSize); }
        Items per page: @Html.DropDownList("pageSize", cps)
        @Html.PagedListPager(Model, page => Url.Action("AllStudentsPerCoursePerAssignment", new { page, sort = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize }))

        @{string currentfilter = ViewBag.CurrentFilter;}
        @Html.TextBox("currentFilter", currentfilter, new { type = "hidden", @class = "form-control" })
    </div>
}

<script src="~/Content/MyJs/GeneralJs.js"></script>