@model IEnumerable<Assignment2.Entities.Course>

@{
    ViewBag.Title = "AllStudentsPerCoursePerAssignment";
}

<h2>Students per course per assignment</h2>

<div class="d-inline-block mb-1 w-100">
    @using (Html.BeginForm())
    {
        <div class="float-right d-inline">
            @Html.Label("search", "Find by course title :", null)
            @Html.TextBox("search", null, new { @class = "searchBar", @placeholder = "Search..." })<input type="submit" value="Search" class="btn-search" />
        </div>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Course title", "AllStudentsPerCoursePerAssignment", new { sort = ViewBag.CourseTitle })
        </th>
        <th></th>
    </tr>
    @foreach (var course in Model)
    {
        <tr>
            <td>
                <b>Title</b>
                <br />
                @Html.DisplayFor(x => course.Title)
            </td>
            <td>
                @foreach (var assignment in course.Assignments)
                {
                    <b> Assignment title</b>
                    <ul>
                        <li>
                            @Html.DisplayFor(x => assignment.Title)
                        </li>
                    </ul>
                    <b>Students</b>
                    <ol>
                        @foreach (var studentCourse in course.StudentCourses)
                        {
                            <li>@studentCourse.Student.FirstName @studentCourse.Student.LastName</li>
                        }
                    </ol>
                    <br />
                }
            </td>


        </tr>
    }

</table>
